* {
    box-sizing: border-box;
  }
  
  .left {
    background: linear-gradient(to bottom, #b4fcb2 0%, #f7b3b3 100%);
    padding: 20px;
    float: left;
    width: 10%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 80%; /* The width is 60%, by default */
  }
  
  .right {
    background: linear-gradient(to bottom, #b4fcb2 0%, #f7b3b3 100%);
    padding: 20px;
    float: left;
    width: 10%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }