* {
    box-sizing: border-box;
  }
  
  .h1-blog-topic {
    font-size: 82px;
    background: -webkit-linear-gradient(rgb(151, 223, 89), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    }
    .h2-blog-topic{
    font-size: 22px;
    background: -webkit-linear-gradient(rgb(151, 223, 89), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

  .left {
    
    padding: 15px;
    float: left;
    width: 10%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 80%; /* The width is 60%, by default */
  }
  
  .right {
    padding: 15px;
    float: left;
    width: 10%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
