* {
    box-sizing: border-box;
  }
  
  .h1-blog-topic {
    font-size: 82px;
    background: -webkit-linear-gradient(rgb(151, 223, 89), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    }
    .h2-blog-topic{
    font-size: 22px;
    background: -webkit-linear-gradient(rgb(151, 223, 89), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

  .left {
    
    padding: 15px;
    float: left;
    width: 10%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: #ffffff;
    padding: 20px;
    float: left;
    width: 80%; /* The width is 60%, by default */
  }
  
  .right {
    padding: 15px;
    float: left;
    width: 10%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

 


.blog-content {
	background: -webkit-linear-gradient(rgb(230, 252, 131), rgb(255, 255, 255));
  background-size: contain;

}

.blog-img {
	position: relative;
	overflow: hidden;
  width: 100%;
  align-content: center;
}

.blog-img img {
	width: 80%;
	height: auto;
  align-content: center;
}


.blog-desc {
	padding: 1rem;
  font-size: 18px;
  text-align: justify;
}


.blog-desc p {
	color: #000000;
    font-size: 42px;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 15px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-blog{
	background-color: #5c2fff;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(255, 253, 253, 0.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .83rem;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    
    
}
.btn-blog:hover {
    background: rgb(7, 7, 7);
}
a.btn-blog {
    color: rgb(255, 255, 255);
}

.date-blog {
  text-align: left;
  padding-left: 15px;
  margin-left: 10;
  left: 0;
  font-weight: 400;
  color: #000000;
  font-size: 15;
}

.site-logo {
  width: 5%;
  height: auto;
  margin-left: 5;
  padding-left: 15;
}

.blog-content-paragaraph {
  margin-left: 3em;
  margin-right: 3em;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

.blog-img-content {
	position: relative;
	overflow: hidden;
  width: 100%;
  align-content: center;
  height: auto;
}


