* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
    border-left: 1px solid rgb(22, 20, 20);
   }
   .active {
    background-color: #4CAF50;
  }
  
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to bottom, #33ccff 0%, #d5fc4a 100%);
    color: rgb(24, 23, 23);
    margin-top: 10px;
    
   }
   .nav-links a {
    color: rgb(12, 11, 11);
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 24px;
    margin-right: 70px;
   }
   .menu li:hover {
    background-color: #87d5d8;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .photos {
    position: relative; 
   }
   .dropdown {
    background: linear-gradient(to bottom, #33ccff 0%, #d5fc4a 100%);
    padding: 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display:none; 
    border-radius: 6px;
    top: 15px;
   }
   .dropdown li + li {
    margin-top: 0px;
   }
   .dropdown li {
    padding: 1;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .photos:hover .dropdown {
    display:table-cell;
   }
   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background: linear-gradient(to bottom, #33ccff 0%, #d5fc4a 100%);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background: lightblue;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background: linear-gradient(to bottom, #33ccff 0%, #d5fc4a 100%);
   }
   }

   *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
  height: fit-content;
}

.container-home {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}



h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}


h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: rgb(58, 56, 56);
  text-shadow: 0 0 10px rgb(151, 240, 110),
               0 0 20px rgb(255, 255, 255), 
               0 0 40px rgb(165, 238, 105);
}

.main-header{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
  	

.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}
.left {
    
  padding: 15px;
  float: left;
  width: 10%; /* The width is 20%, by default */
}

.main {
  background-color: #ffffff;
  padding: 20px;
  float: left;
  width: 80%; /* The width is 60%, by default */
}

.right {
  padding: 15px;
  float: left;
  width: 10%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}




.blog-content {
background: -webkit-linear-gradient(rgb(230, 252, 131), rgb(255, 255, 255));
background-size: contain;

}

.blog-img {
position: relative;
overflow: hidden;
width: 100%;
align-content: center;
}

.blog-img img {
width: 80%;
height: auto;
align-content: center;
}


.blog-desc {
padding: 1rem;
font-size: 18px;
text-align: justify;
}
